## editors
/.idea
/.vscode

## system files
.DS_Store

## key
.asc

## npm
/node_modules/
/npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/
/dist/
/out-tsc/

# models
/archive/

## env variables
.env

# mess
.ignore